<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuitane Home Page</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
      defer
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
      defer
    ></script>
  </head>
  <body>
    <header>
      <a href="/">
        <img src="images/logo.png" alt="tuitane logo" id="tuitane-logo" />
      </a>
      <nav>
        <a href="/home">Home</a>
        <a href="/profile">Profile</a>
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
      </nav>
    </header>
    <main>
      <h1>Karibu Tuitane</h1>
      <div class="main-box">
        <div class="post">
          <div class="profile">
            <img src="images/user.jpg" alt="" />
            <p class="title">
              <span class="username">Albert Kipchirchir</span>
              <span class="position">Software Developer</span>
            </p>
            <ion-icon name="person-add-outline" class="follow-icon"></ion-icon>
          </div>
          <p class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            facilis libero tempora pariatur aperiam aliquid. Fuga cumque,
            architecto, facilis assumenda debitis placeat in nostrum quae
            voluptas possimus quaerat mollitia eveniet!
          </p>
          <div class="actions">
            <div class="action">
              <ion-icon name="thumbs-up-outline"></ion-icon>
              <span>Like</span>
            </div>
            <div class="action">
              <ion-icon name="chatbubbles-outline"></ion-icon>
              <span>Comment</span>
            </div>
            <div class="numbers">
              <div class="likes">
                <span>57</span>
                <span>Likes</span>
              </div>
              <div class="comments">
                <span>7</span>
                <span>Comments</span>
              </div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="profile">
            <img src="images/user.jpg" alt="" />
            <p class="title">
              <span class="username">Albert Kipchirchir</span>
              <span class="position">Software Developer</span>
            </p>
            <ion-icon name="person-add-outline" class="follow-icon"></ion-icon>
          </div>
          <p class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            facilis libero tempora pariatur aperiam aliquid. Fuga cumque,
            architecto, facilis assumenda debitis placeat in nostrum quae
            voluptas possimus quaerat mollitia eveniet!
          </p>
          <div class="actions">
            <div class="action">
              <ion-icon name="thumbs-up-outline"></ion-icon>
              <span>Like</span>
            </div>
            <div class="action">
              <ion-icon name="chatbubbles-outline"></ion-icon>
              <span>Comment</span>
            </div>
            <div class="numbers">
              <div class="likes">
                <span>57</span>
                <span>Likes</span>
              </div>
              <div class="comments">
                <span>7</span>
                <span>Comments</span>
              </div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="profile">
            <img src="images/user.jpg" alt="" />
            <p class="title">
              <span class="username">Albert Kipchirchir</span>
              <span class="position">Software Developer</span>
            </p>
            <ion-icon name="person-add-outline" class="follow-icon"></ion-icon>
          </div>
          <p class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            facilis libero tempora pariatur aperiam aliquid. Fuga cumque,
            architecto, facilis assumenda debitis placeat in nostrum quae
            voluptas possimus quaerat mollitia eveniet!
          </p>
          <div class="actions">
            <div class="action">
              <ion-icon name="thumbs-up-outline"></ion-icon>
              <span>Like</span>
            </div>
            <div class="action">
              <ion-icon name="chatbubbles-outline"></ion-icon>
              <span>Comment</span>
            </div>
            <div class="numbers">
              <div class="likes">
                <span>57</span>
                <span>Likes</span>
              </div>
              <div class="comments">
                <span>7</span>
                <span>Comments</span>
              </div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="profile">
            <img src="images/user.jpg" alt="" />
            <p class="title">
              <span class="username">Albert Kipchirchir</span>
              <span class="position">Software Developer</span>
            </p>
            <ion-icon name="person-add-outline" class="follow-icon"></ion-icon>
          </div>
          <p class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            facilis libero tempora pariatur aperiam aliquid. Fuga cumque,
            architecto, facilis assumenda debitis placeat in nostrum quae
            voluptas possimus quaerat mollitia eveniet!
          </p>
          <div class="actions">
            <div class="action">
              <ion-icon name="thumbs-up-outline"></ion-icon>
              <span>Like</span>
            </div>
            <div class="action">
              <ion-icon name="chatbubbles-outline"></ion-icon>
              <span>Comment</span>
            </div>
            <div class="numbers">
              <div class="likes">
                <span>57</span>
                <span>Likes</span>
              </div>
              <div class="comments">
                <span>7</span>
                <span>Comments</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>Copyright &copy; <%=new Date().getFullYear()%></p>
    </footer>
  </body>
</html>
