<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuitane Home Page</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
      defer
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
      defer
    ></script>
  </head>
  <body>
    <!-- partials -->
    <%- include("_header.ejs") %>
    <main>
      <h1>Karibu Tuitane</h1>
      <div class="main-box">
        <% posts.forEach(post=>{ %>
        <div class="post">
          <div class="profile">
            <img src="images/user.jpg" alt="" />
            <p class="title">
              <span class="username">Albert Kipchirchir</span>
              <span class="position">Software Developer</span>
            </p>
            <ion-icon name="person-add-outline" class="follow-icon"></ion-icon>
          </div>
          <p class="body"><%= post.content %></p>
          <div class="actions">
            <div class="action">
              <ion-icon name="thumbs-up-outline"></ion-icon>
              <span>Like</span>
            </div>
            <div class="action">
              <ion-icon name="chatbubbles-outline"></ion-icon>
              <span>Comment</span>
            </div>
            <div class="numbers">
              <div class="likes">
                <span>57</span>
                <span>Likes</span>
              </div>
              <div class="comments">
                <span>7</span>
                <span>Comments</span>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
        <!-- get name of the user/owner for each post -->
      </div>
    </main>
    <%- include("_footer.ejs") %>
  </body>
</html>
